* {
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-size: 20px;
}
.list ul li{
    display: inline-flex;
    margin-left: 36px;
}

.head-text{
    padding-top: 40px;
    text-align: center;
}
.top{
    padding-top: 10px;
    font-size: 20px;
    font-style: italic;
}
.container {
    min-height: 100vh;
}

.items {
    margin-top: 100px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item{
    display:inline;
    padding: 10px;
}

.item img {
    width: 350px;
    height: 290px;
    object-fit: cover;
    margin: 10px;
}
.item h4,p,.cart{
    margin-left: 10px;
    font-size: 20px;
    display: flex;
}
.price{
    float: left;
    
}
.cart button{
    margin-left: 235px;
    padding: 6px;
    cursor: pointer;
}